# Editor backup files
*~
\#*
.#*

# automake/autoconf stuff
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
m4
Makefile
Makefile.in
missing

# libtool
libtool
ltmain.sh
.libs

# Compiler output
*.o
*.lo
*.la

# Instrospection output
*.gir
*.typelib
